// colors

$color-1: #314d5d; // Pickled Bluewood
$color-2: #de5b48; // Red Damask
$color-3: #f0ca4d; // Ronchi
$color-4: #ffffff; // White
$color-5: #46b29d; // Keppel

// fonts 

$primary-font: 'Work Sans', sans-serif;